@import "tailwindcss";

@layer utilities {
  .glow-text {
    text-shadow: 0 0 4px cyan;
  }

  .neon-border {
    box-shadow:
      0 0 5px rgba(0, 255, 255, 0.3),
      0 0 12px rgba(0, 255, 255, 0.2);
  }

  .neon-border:hover {
    box-shadow:
      0 0 12px rgba(0, 255, 255, 0.6),
      0 0 22px rgba(0, 255, 255, 0.3);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #0ff;
  border-radius: 10px;
}
